jira-secrets.el
*#
*~
session.*
url/*
elpa/*
*.dpatch
*.lock
*.dat
*.elc
*.desktop
custom.el
.cache/
.dap-breakpoints
.lsp-session-v1
eshell/
org-clock-save.el
org-persist/
projectile-bookmarks.eld
request/
tramp
transient/
tree-sitter/
.claude/
.claude-code-mcp.log
/.agent-shell/
/agent/
/history
/keystroke-log.csv
/projects
.emacs.d
eln-cache/
straight/
